Математика и информатика для программистов/МиИдП_1
МиИдП/МиИдП_1
Seminar_1/Git_tutorial.md
Seminar_2/md_tutorial.md
Seminar_3/ReadMe.md
Seminar_4/Sem45/Test.md
.gitignore
ВвКВ/Seminar_2/md_tutorial.md
.gitignore
ЗсЯП/ЗсЯП_1/ЗсЯП_задача_1/Program.cs
ЗсЯП/ЗсЯП_1/ЗсЯП_задача_1/bin/Debug/net6.0/ЗсЯП_1.dll
ЗсЯП/ЗсЯП_1/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_1.dll
ЗсЯП/ЗсЯП_1/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_1.genruntimeconfig.cache
.gitignore
ЗсЯП/ЗсЯП_1/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_1.csproj.CoreCompileInputs.cache
ЗсЯП/ЗсЯП_1/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_1.csproj.AssemblyReference.cache
.gitignore
ЗсЯП/ЗсЯП_1/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_1.AssemblyInfoInputs.cache
ЗсЯП/ЗсЯП_1/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_1.assets.cache
ЗсЯП/ЗсЯП_2/ЗсЯП_задача_1/obj/project.nuget.cache
ЗсЯП/ЗсЯП_2/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_задача_1.assets.cache
ЗсЯП/ЗсЯП_2/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_задача_1.AssemblyInfoInputs.cache
.gitignore
ЗсЯП/ЗсЯП_2/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_задача_1.csproj.CoreCompileInputs.cache
ЗсЯП/ЗсЯП_2/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_задача_1.csproj.AssemblyReference.cache
ЗсЯП/ЗсЯП_2/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_задача_1.csproj.FileListAbsolute.txt
ЗсЯП/ЗсЯП_2/ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_задача_1.genruntimeconfig.cache
.gitignore
.gitignore
ЗсЯП_1/obj/Debug/net6.0/ЗсЯП_1.assets.cache
ЗсЯП_1/obj/Debug/net6.0/ЗсЯП_1.csproj.AssemblyReference.cache
ЗсЯП_1/obj/Debug/net6.0/ЗсЯП_1.csproj.CoreCompileInputs.cache
ЗсЯП_1/obj/Debug/net6.0/ЗсЯП_1.AssemblyInfoInputs.cache
.gitignore
ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_1.AssemblyInfoInputs.cache
.gitignore
ЗсЯП_задача_1/obj/Debug/net6.0/ЗсЯП_1.assets.cache
