Математика и информатика для программистов/МиИдП_1
МиИдП/МиИдП_1
Seminar_4/Sem45/Test.md
Seminar_3/ReadMe.md
Seminar_2/md_tutorial.md
Seminar_1/Git_tutorial.md
MaIfP/MaIfP_1.md
ЗсЯП_задача_1/ЗсЯП_Задача_1.csproj
